.topbar
{
	display: none !important;
}

.version-stamp
{
	display: none !important;
}

.swagger-ui .info hgroup.main a
{
	display: none !important;
}

/*.swagger-ui img
{
	content:url("logo.svg");
}*/